<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="schedulerConfig" type="SimpleScheduler.SchedulerConfigSection, SimpleScheduler"/>
  </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <schedulerConfig>
    <jobs>
      <job name="Test" type="SimpleScheduler.Jobs.Test, SimpleScheduler.Jobs" enabled="true" stopOnError="false" seconds="5"/>
      <!--<job name="Test" type="SimpleScheduler.Jobs.Test, SimpleScheduler.Jobs" enabled="true" stopOnError="false" seconds="5"/>-->
    </jobs>
  </schedulerConfig>
</configuration>
